Source: pygeofilter
Maintainer: Fabian Schindler <fabian.schindler@gmail.com>
Uploaders: Angelos Tzotsos <gcpp.kalxas@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               python3-setuptools,
               dh-python,
               dpkg-dev (>= 1.16),
               autoconf,
               python3-all,
               python3-all-dev
Standards-Version: 3.9.3
Homepage: https://github.com/geopython/pygeofilter

Package: python3-pygeofilter
Architecture: any
Section: web
Depends: ${shlibs:Depends},
         ${misc:Depends},
         python3,
         python3-click
Description: This package contains the pygeofilter library
 .
 pygeofilter is a pure Python parser implementation of OGC filtering standards.
